{% extends 'base.html.twig' %}

{% block body %}

<section id="showAtelier">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1 class="text-center">Liste des ateliers</h1>
      </div>
  </div>
  </div>

{% for atelier in atelier %}
<article id="articleAteliers">
  <div class="container">

  <div class="row text-center">
    <div class="col-md-2">{{ atelier.nom }}</div>
    <div class="col-md-2">{{ atelier.equipements }}</div>
    <div class="col-md-2">{{ atelier.ingredients }}</div>
    <div class="col-md-2">{{ atelier.tarif}}</div>
    <div class="col-md-4"><a href= "{{ path ('atelier_show' ,{'id': atelier.id}) }}"><input type="button" name="name" value="participer"></a></div>
</div>
</div>
</article>
</section>

{% endfor %}
{% endblock %}
